﻿@model TOFIProject_Web.Models.Messages.MessageModel
@{
    ViewData["Title"] = "AddMessage";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/uriel-soberanes.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title">Напиши письмо!</h3>
                        <form class="register-form" method="post" asp-controller="Manager" asp-action="AddMessage">
                            <div asp-validation-summary="All"></div>
                            <input asp-for="ProjectId" type="hidden" class="form-control" placeholder="Сообщение" rows="5" value="@Model.ProjectId"/>
                            <label>Content</label>
                            <textarea asp-for="Content" type="text" class="form-control" placeholder="Сообщение" rows="5"></textarea>
                            <button type="submit" class="btn btn-danger btn-block btn-round">Создать</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>
        </div>
    </div>
</div>
