﻿@{
    ViewData["Title"] = "Home";
}

<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Report Wizards</h1>
                    <div class="fog-low">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center">Мы избавим вас от рутинной работы по подготовке отчетов для клиентов.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('/img/clouds.png'); ">
        </div>
    </div>

</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Что мы предлагаем</h2>
                    <h5 class="description">Наша команда создает индивидуальное Windows-приложение по вашему заказу. Такое приложение позволит генерировать необходимые вам отчеты, собирая данные из любых источников. Тем самым вы экономите время, а значит и деньги. Заинтересовались?</h5>
                    <br>
                    <a asp-controller="Account" asp-action="Registration" class="btn btn-danger btn-round">Регистрация</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-layout-11"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Любой формат</h4>
                            <p class="description">Просто расскажите или покажите нам в каком виде должен выглядеть отчет</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Оптимизируйте кампании</h4>
                            <p>Вместо рутинной работы</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Любые данные</h4>
                            <p>Мы используем все доступные данные, предоставленные вами</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Приятный дизайн</h4>
                            <p>Приложением даже приятно пользоваться :)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Наша команда</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="~/img/faces/face1.png" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Anton Bessarabov</h4>
                                    <h6 class="card-category">PM, Dev</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Я всегда мечтал о том, чтобы моим компьютером можно было пользоваться так же легко, как телефоном; моя мечта сбылась: я уже не могу разобраться, как пользоваться моим телефоном.
                                — Bjarne Stroustrup
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa nc-icon nc-email-85"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="~/img/faces/face2.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Tatyana Solonevich</h4>
                                    <h6 class="card-category">QA, Dev</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                В хорошем дизайне добавление вещи стоит дешевле, чем сама эта вещь.
                                — Thomas C. Gale
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa nc-icon nc-email-85"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="~/img/faces/face3.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Хочешь в команду?</h4>
                                    <h6 class="card-category">У нас круто</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Вы не можете создавать хорошие программы без хорошей команды, но большинство софтверных команд ведут себя как проблемная семья.
                                — Jim McCarthy
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            @*<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>*@
                            <a asp-controller="Home" asp-action="Vacancies" class="btn btn-outline-neutral btn-round">Вакансии</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto ">
                <span class="copyright ">
                    ©
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wisards
                </span>
            </div>
        </div>
    </div>
</footer>

