﻿
@{
    ViewData["Title"] = "Vacancies";
}
<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/bruno-abatti.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="text-center">
                        <h2 class="title">Вакансий нет :(</h2>
                        <h3 class="title">Следите за социальными сетями, чтобы быть в курсе новых вакансий</h3>                       
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>
        </div>
    </div>
</div>

