﻿@model TOFIProject_Web.Models.Account.RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title">Привет!</h3>
                        <div class="social-line text-center">
                            <a href="#" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form" method="post" asp-controller="Account" asp-action="Registration">
                            <div asp-validation-summary="All"></div>
                            <label>Email</label>
                            <input asp-for="Email"  class="form-control" placeholder="Email">
                            <label>Username</label>
                            <input asp-for="Username"  class="form-control" placeholder="Username">
                            <label>Password</label>
                            <input asp-for="Password"  class="form-control" placeholder="Password">
                            <label>Confirm Password</label>
                            <input asp-for="ConfirmPassword"  class="form-control" placeholder="ConfirmPassword">
                            <button type="submit" class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>
        </div>
    </div>
</div>

