﻿@model TOFIProject_Web.Models.Admin.FileModel
@{
    ViewData["Title"] = "AddFile";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/uriel-soberanes.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title">Загрузка файла!</h3>
                        <form class="register-form" method="post" asp-controller="Admin" asp-action="AddFile" enctype="multipart/form-data">
                            <div asp-validation-summary="All"></div>
                            <input asp-for="ProjectId" type="hidden" class="form-control" value="@Model.ProjectId" />
                            <label class="form-control btn btn-border btn-danger btn-round">Choose<input name="File" type="file" class="form-control" hidden /></label>
                            
                            <button type="submit" class="btn btn-danger btn-block btn-round">Загрузить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>
        </div>
    </div>
</div>