﻿@model TOFIProject_Web.Models.Admin.IndexViewModel;

@{
    ViewData["Title"] = "AdminPanel";
}

<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('/img/joshua-stannard.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Admin Panel</h1>
                    <div class="fog-low">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center">На этой странице можно назначить администратора и управлять проектами</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('/img/clouds.png'); ">
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Пользователи [User]</h4>
                            <p class="description">Дать роль администратора</p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Имя</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Утвердить</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td><a asp-controller="Account" asp-action="ChangeUserRoleToAdmin" asp-route-userId="@user.Id">+</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-copy-04"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Проекты</h4>
                            <p>Управляйте проектами</p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Название</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model.Projects)
                                {
                                    <tr>
                                        <td>@project.Name</td>
                                        <td><a asp-action="Project" asp-controller="Admin" asp-route-id="@project.Id">Управление</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto ">
                <span class="copyright ">
                    ©
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wisards
                </span>
            </div>
        </div>
    </div>
</footer>

