﻿@model TOFIProject_Web.Models.Admin.ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('/img/joshua-stannard.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">@Model.Project.Name</h1>
                    <div class="fog-low">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="~/img/fog-low.png" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center">@Model.Project.Description</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('/img/clouds.png'); ">
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-paper"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Документация</h4>
                            <p class="description">Загружайте и скачивайте документы</p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Название</th>
                                    <th class="text-center"><a asp-action="AddFile" asp-controller="Admin" asp-route-projectId="@Model.Project.Id">Загрузить</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doc in Model.Docs)
                                {
                                    <tr>
                                        <td>@doc.Name</td>
                                        <td><a asp-action="GetFile" asp-controller="admin" asp-route-id="@doc.Id">Скачать</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chat-33"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Чат</h4>
                            <p>Общайтесь с заказчиком!</p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Имя</th>
                                    <th class="text-center"><a asp-action="AddMessage" asp-controller="Admin" asp-route-projectId="@Model.Project.Id">Написать</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var msg in Model.Messages)
                                {
                                    <tr>
                                        <td><div id="@msg.Id"></div></td>
                                        <td>@msg.Content</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto ">
                <span class="copyright ">
                    ©
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wisards
                </span>
            </div>
        </div>
    </div>
</footer>

@foreach (var msg in Model.Messages)
{
    <script>

        $.get('@Url.Action("GetNameById", "User")', {id : '@msg.AppUserId'}, function(content){
            $("#@msg.Id").html(content);
        });
    </script>
}


