﻿@using System.Security.Principal

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - ReportWizards</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @*<title>Paper Kit 2 by Creative Tim</title>*@
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/paper-kit.css?v=2.1.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <script src="~/js/jquery-3.2.1.js" type="text/javascript"></script>
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Report Wisards</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    @if (User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Profile" class="nav-link" rel="tooltip" title="Profile" data-placement="bottom" value="Profile">Profile</a>
                        </li>

                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="Index" class="nav-link" rel="tooltip" title="Campaign" data-placement="bottom" value="Campaign">Campaign</a>
                        </li>

                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="nav-link" rel="tooltip" title="Admin" data-placement="bottom" value="Admin">Admin</a>
                        </li>

                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<li class="nav-item">
                                <a asp-controller="Manager" asp-action="Logout" class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" value="Logout">Logout</a>
                            </li>*@
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" value="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link" rel="tooltip" title="Login" data-placement="bottom">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Registration" class="nav-link" rel="tooltip" title="Register" data-placement="bottom">Register</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/ReportWisards" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/ReportWisards" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/ReportWisardsOfficial" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none">Instagram</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/ReportWisardsOfficial/" target="_blank">
                            <i class="fa fa-github"></i>
                            <p class="d-lg-none">GitHub</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a href="documentation/tutorial-components.html" target="_blank" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                        </li>*@
                    @*<li class="nav-item">
                            <a href="https://www.creative-tim.com/product/paper-kit-2-pro?ref=pk2-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TOFIProject_Web</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                    <p>&copy; 2018 - TOFIProject_Web</p>
            </footer>
        </div>*@

    @RenderBody()



    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    <!-- Core JS Files -->
    @*<script src="~/js/jquery-3.2.1.js" type="text/javascript"></script>*@
    <script src="~/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
    <script src="~/js/popper.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Switches -->
    <script src="~/js/bootstrap-switch.min.js"></script>
    <!--  Plugins for Slider -->
    <script src="~/js/nouislider.js"></script>
    <!--  Plugins for DateTimePicker -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <!--  Paper Kit Initialization and functons -->
    <script src="~/js/paper-kit.js?v=2.1.0"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
