﻿@model TOFIProject_Web.Models.User.CreateCampaignViewModel
@{
    ViewData["Title"] = "CreateCampaign";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/daniel-olahh.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title">Создайте компанию</h3>

                        <form class="register-form" method="post" asp-controller="User" asp-action="CreateCampaign">
                            <div asp-validation-summary="All"></div>
                            <label>Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                            <button type="submit" class="btn btn-danger btn-block btn-round">Создать</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>
        </div>
    </div>
</div>

