﻿@model TOFIProject_Web.Models.User.AllCampaignsViewModel
@{
    ViewData["Title"] = "Profile";
}
<div class="wrapper">
    <div class="page-header" style="background-image: url('/img/bruno-abatti.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="text-center">
                        <h2 class="title">Выберите кампанию</h2>
                        <h3 class="title">Или создайте свою и тогда к вам смогут добавиться ваши коллеги</h3>
                    </div>
                </div>
            </div>
            @*<div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wizards
                </h6>
            </div>*@
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Название кампании</th>
                                <th class="text-center"><a asp-action="CreateCampaign" asp-controller="User">Создать</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var campaign in Model.Campaigns)
        {
                    <tr>
                        <td>@campaign.Name</td>
                        <td><a asp-action="ChooseCampaign" asp-controller="User" asp-route-id="@campaign.Id">Выбрать</a></td>
                    </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto ">
                <span class="copyright ">
                    ©
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Report Wisards
                </span>
            </div>
        </div>
    </div>
</footer>


